@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Old Standard TT", serif;
  font-size: 1rem;
}

html {
  background-color: #f7f2e8;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  height: 100vh;
}

@layer components {
  .header-icon {
    @apply relative flex items-center justify-center h-12 w-12;
  }
  .border-gradient {
    border-image: linear-gradient(to right, var(--tw-gradient-stops)) 1;
    border-image-slice: 1;
  }
}
